[user]
	name = Abderrahman Cheddir
	email = acheddir@outlook.fr
	signingkey = 7498CB143BA8FB72
[init]
	defaultBranch = main
[color]
	ui = auto
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[core]
	editor = nvim
